header{
    display: flex;
    background-color: gray;
    height: 10vh;
}
.first{
    margin-left: 20%;
}
.first img{
    height:80%;
    width:80%;     
    margin-top: auto;
    margin-bottom: auto;

}
.starticon{
    margin-left: 5%;
}
 
.starticon img{
    height:80%;
    width:80%;     
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
     
}
#lasticon{
    position: absolute;
    right: 5%;
}
#lasticon img{
    height:80%;
    width:80%;       
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}

 
 
.body1{
    display:flex;
    
}
.sidebar h3{
    color: white;
    margin-left: 5%;
}
.sidebar{    
    background-color:black;
    max-width: fit-content;
    min-width:20vw;    
    height: 90vh;
     
}
.content{
    height:90vh;
    width:80vw;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    border:1px solid;
    height: 35vh;
    width:15vw;
         
}
.card1{
    height:50%;
    width:100%;
    background-image: url("background (1).png");
     
}
.card2{
    background-color: antiquewhite;
    height:50%;
    width:100%;

    
}
